canvas {
    border: solid 1px black;
    float: left;
}

hr {
    width: 300px;
}

#form-hidden {
    visibility: hidden;
}

#top {
    text-align: center;
    color: gold;
}

#ranking {
    cursor: default;
}

.rank {
    margin: auto;
    background-color: #99CCFF;
    width: 300px;
}

.ranking-score {
    margin: 10px;
    font-size: 40px;
    color: red;
}

.ranking-comment {
    margin: 10px;
    text-align: right;
}
